*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    background-color:antiquewhite;
    margin: 80px;
    padding: 0;
}
.page1{
    background-color: #F5F5DC;
    height: 700px;
    border-radius: 20px ;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
h3 {
    font-size: 24px;
    color: #333;
    margin: 0 0 0 20px;
}

.options {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px;
    z-index: 1000;
    display: flex;
    justify-content: right;
    gap: 25px;
}


.options a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 8px 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.image {
    display: flex;
    margin-top: 10px;
    margin-left: 5px;
}

.image img {
    width: 550px;
    height: 700px;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.portfolio-text {
    font-size: 250px;
    font-weight: bold;
    color:#F5F5DC ; 
    -webkit-text-stroke: 5px black;
    text-shadow: 5px 5px 5px yellowgreen ;
    font-family: Arial, sans-serif;
    margin-top: -240px;
    margin-left: -15px;
    letter-spacing: 0px;
}
.MY_name h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    margin-top: -800px;
    margin-right: 50px;
    letter-spacing: 8px;
}

.MY_name h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    margin-top: -40px;
    margin-right: 50px;
    letter-spacing: 5px;
}

.icon{
    margin-top: 10px;

}

.fa-instagram {
    font-size: 35px;
    float: right; 
    color: black;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); 
    margin-right: 80px;
}

.fa-facebook{
    font-size: 35px;
    float: right; 
    color: black;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-right: 30px;
}

.fa-linkedin{
    font-size: 35px;
    float: right; 
    color: black;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    margin-right: 30px;
}

.page2{
    background-color: #FFDAB9;
    height: 700px;
    border-radius: 10px ;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.About_me{
    color: whitesmoke;
    -webkit-text-stroke: 3px black;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    margin-top: 150px;
}
.image2{
        display: flex; 
        justify-content: center;
        margin-top: -50px;
}

.image2 img{
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); 
}

.contant h1{
    text-align: center;
}
.contant p{
    width: 1200px;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    margin-left: 50px;
    font-style:oblique;
    word-spacing: 5px;
    line-height: 2;
}

.page3{
    background-color: #F5F5DC;
    height: 700px;
    margin-top: 100px;
    border-radius: 10px ;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#skill h1{
    text-align: center;
    -webkit-text-stroke: 1px black;
    font-size: 46px;
    margin: 20px;
    padding-top: 40px;
}
.skills-container {
    display: flex;
    justify-content: left;
    gap: 50px;
    padding: 20px;
}
.skills-box{
    width: 55%;
    background-color: #FFDAB9;
    padding: 20px;
    border-radius: 10%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.skills-box {
    width: 45%;
    padding: 20px;
    border-radius: 10px;
}
.skill{
    margin-left: 20px;
}
.skill p{
    margin: 15px 0;
    font-size: 18px;
}

.progress-bar {
    width: 100%;
    height: 8px;
    background: #333;
    border-radius: 5px;
    overflow: hidden;
}
.progress {
    height: 100%;
    background: skyblue;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.html {
    width: 90%;
}
.C 
{
    width: 85%;
}
.Cpp{
    width: 70%;
}
.Java
{
    width: 50%;
}
.Swift{
    width: 80%;
}
.css{
    width: 60%;
}
.Mysql{
    width: 60%;
}
.IOS{
    width: 50%;
}
.web-dev
{
    width: 60%;
}
.Photography{
    width: 80%;
}
.Editing{
    width: 80%;
}

.page4{
    background-color: #FFDAB9;
    height: 700px;
    margin-top: 100px;
    border-radius: 10px ;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.mentor-text{
    color: whitesmoke;
    -webkit-text-stroke: 2.5px black;
    text-align: center;
    font-size: 40px;
}
.scroll-container {
    width:100%;
    height: 620px;
    overflow-x:hidden; /* enables horizontal scroll */
    white-space: nowrap; /* keeps content in one line */
    margin-top: -50px;
  }
  .mentor-box {
    display: inline-block;
    width: 415px;
    height: 300px;
    background: #F5F5DC;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 10%;
  }
  
  .mentor-image img{
    width: 70px; 
    height: 70px; 
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); 
    margin-top: -20px;
  }
  .mentor-name{
    font-size: 17px;
    margin-top: -90px;
    font-weight: bold;
    font-family: initial;
  }
  .mentor-content{
    width: 415px;
    height: 200px;
    background-color: aquamarine;
  }